@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.App {
  margin: 0;
  .form-container {
    margin: 16px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 80%;
      margin: 16px;
      padding: 20px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
  }

  .form {
    &-section {
      flex: 1 0 30%;
      margin-bottom: 20px;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    &-label {
      margin-bottom: 5px;
      display: flex;
      &__legend {
        font-weight: 600;
        padding-bottom: 10px;
        display: flex;
      }
    }
    &-submit {
      width: 100%;
      padding: 10px;
      background-color: $teal;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $darkteal;
      }
    }
  }
}
